body{
    background-color: #a2a2a2;
    font-family: 'Verdana', sans-serif;
    margin: 0;
}
.shapka-back{
    display: block;
    align-items: center;
    margin: 0;
    background-color: #242424;
    top: 0;
 }

.button{
    margin-right: 5px;
    display: inline-block;
    height: var(--height);
    padding: 0 calc(var(--height)*.5);
    color: #ccc;
    background-color: #313131;
    border-radius: 99px;
    line-height: var(--height);
    text-decoration: none;
    text-align: center;
    --height: 35px;
    font-size: 15px;
}
.button1 :hover{
    transition: All 0.1s ease;
    background-color: #696969;
}